In [1]:
import numpy as np
import pandas as pd 
import sklearn
import seaborn as sns

In [2]:
path = "/home/malick/Bureau/Stage_Projet_RTS/confluence-JDD/churn/Churn_in_Telecom_dataset/data/karan-churn.csv"
data = pd.read_csv(path)

In [3]:
data.shape

(3333, 22)

In [7]:
data = data.replace('?', np.NaN)

In [8]:
# Count total NA's in each column
print(data.isnull().sum())

Unnamed: 0          0
State               0
Account Length      0
Area Code         173
Phone               0
Int'l Plan        528
VMail Plan        349
VMail Message       0
Day Mins            0
Day Calls           0
Day Charge        112
Eve Mins           88
Eve Calls         520
Eve Charge          0
Night Mins          0
Night Calls         0
Night Charge      310
Intl Mins           0
Intl Calls        662
Intl Charge       352
CustServ Calls      0
Churn?              0
dtype: int64

In [9]:
# delete the column having no importance or have alot of Na's
data1 = data.drop(['Phone', 'VMail Plan', 'State'], axis=1)

In [10]:
# Drop the rows of column initaial plan containing NA's
data2 = data1.dropna(subset=["Int'l Plan"])

Encoding the categorical variale into numeric form

In [12]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(data2["Int'l Plan"])
data2["Int'l Plan"] = le.transform(data2["Int'l Plan"])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [13]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(data2["Churn?"])
data2["Churn?"] = le.transform(data2["Churn?"])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [14]:
# View the data if incoding is done 
data2.head()

,Unnamed: 0,Account Length,Area Code,Int'l Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,0,128,415,0,25,265.1,110,NaN,197.4,99,16.78,244.7,91,11.01,10.0,3,2.7,1,0
1,1,107,415,0,26,161.6,123,NaN,195.5,103,16.62,254.4,103,11.45,13.7,3,3.7,1,0
2,2,137,415,0,0,243.4,114,NaN,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,3,84,408,1,0,299.4,71,50.9,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,4,75,415,1,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

In [15]:
# getting the list of names of column
names = data2.columns.tolist()

In [16]:
names

['Unnamed: 0',
 'Account Length',
 'Area Code',
 "Int'l Plan",
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

# Imputing the Na's with mean

In [17]:
from sklearn.preprocessing import Imputer

mean_imputer = Imputer(missing_values='NaN', strategy='mean', axis=0)

# Train the imputor on the df dataset
mean_imputer = mean_imputer.fit(data2)

/home/malick/.local/lib/python3.6/site-packages/sklearn/utils/deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [18]:
imputed_df = mean_imputer.transform(data2.values)

In [19]:
df = pd.DataFrame(imputed_df)

Changing the names of column to original name

In [20]:
df.columns = names

In [21]:
df.head()

,Unnamed: 0,Account Length,Area Code,Int'l Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,0.0,128.0,415.0,0.0,25.0,265.1,110.0,30.690229,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3.0,2.70,1.0,0.0
1,1.0,107.0,415.0,0.0,26.0,161.6,123.0,30.690229,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3.0,3.70,1.0,0.0
2,2.0,137.0,415.0,0.0,0.0,243.4,114.0,30.690229,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5.0,3.29,0.0,0.0
3,3.0,84.0,408.0,1.0,0.0,299.4,71.0,50.900000,61.9,88.0,5.26,196.9,89.0,8.86,6.6,7.0,1.78,2.0,0.0
4,4.0,75.0,415.0,1.0,0.0,166.7,113.0,28.340000,148.3,122.0,12.61,186.9,121.0,8.41,10.1,3.0,2.73,3.0,0.0

In [22]:
# convert the target variable from float to int type
df["Churn?"] = df["Churn?"].astype(int)

In [23]:
# Check if all the null has been imputed
print(df.isnull().sum())

Unnamed: 0        0
Account Length    0
Area Code         0
Int'l Plan        0
VMail Message     0
Day Mins          0
Day Calls         0
Day Charge        0
Eve Mins          0
Eve Calls         0
Eve Charge        0
Night Mins        0
Night Calls       0
Night Charge      0
Intl Mins         0
Intl Calls        0
Intl Charge       0
CustServ Calls    0
Churn?            0
dtype: int64

# fitting model

In [24]:
# Splitting the data into train and test
from sklearn.model_selection import train_test_split

In [25]:
index = ["Account Length", "Area Code", "Int'l Plan","VMail Message" ,"Day Mins", "Day Calls", 
                "Day Charge", "Eve Mins", "Eve Calls", "Eve Charge", "Night Mins", "Night Calls", "Night Charge",
                 "Intl Mins", "Intl Calls", "Intl Charge", "CustServ Calls", "Churn?"]
X = df[index]

y = df["Churn?"]

train, test = train_test_split(X, test_size=0.3, random_state=4)

In [26]:
index1 = ["Account Length", "Area Code", "Int'l Plan","VMail Message" ,"Day Mins", "Day Calls", 
                "Day Charge", "Eve Mins", "Eve Calls", "Eve Charge", "Night Mins", "Night Calls", "Night Charge",
                 "Intl Mins", "Intl Calls", "Intl Charge", "CustServ Calls"]

In [27]:
x_train = train[index1]

In [28]:
y_train = train['Churn?']

In [29]:
x_test = test[index1]

In [30]:
y_test = test['Churn?']

Fitting random forest

In [31]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
seed = 1
clf = RandomForestClassifier(n_estimators=10, criterion='gini', max_depth= 6, min_samples_split=3, min_samples_leaf=10, 
                             max_features= 'auto', max_leaf_nodes= None, min_impurity_decrease=0.0,min_impurity_split=None, 
                             n_jobs=1, class_weight=None)
model = clf.fit(x_train, y_train)

result = model.predict(x_test)
np.mean(result == y_test)

0.9073634204275535

Calculating AUC

In [32]:
from sklearn import metrics

In [33]:
fpr, tpr, thresholds = metrics.roc_curve(y_test, result, pos_label=1)

In [34]:
metrics.auc(fpr, tpr)

0.697470246994797